@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Helvetica';
        font-weight: 400;
        src: url(assets/fonts/helvetica_regular.otf) format("opentype");
    }
    @font-face {
        font-family: 'Helvetica';
        font-weight: 700;
        src: url(assets/fonts/helvetica_bold.otf) format("opentype");
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #000;
}

.background {
    position: fixed;
    z-index: -1;

    @media not all and (min-width: 1280px) {
        top: 50%;
        transform: translateY(-50%);
    }
}

.arrow {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-image: url('/bottomArrow.svg');
    background-size: cover;
}

.switch-button span:not(:last-child):after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 1px;
    height: 15px;
    background: #ffff;
    margin-left: 5px;
}

.cart {
    @media not all and (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        right: 0;
        left: 0;
        bottom: 0;
    }
}